<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxFlex>

  <form [formGroup]="form" (ngSubmit)="login(form.value)" class="login-form" fxFlex="40%">
    <mat-form-field>
      <input matInput placeholder="Enter your email" formControlName="email" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'text' : 'password'" formControlName="password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <div class="button-row" fxLayoutAlign="center">
      <button mat-raised-button color="primary">Login</button>
    </div>
  </form>

</div>