.login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form > * {
    width: 100%;
  }

  .example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }