.title {
   font-weight: bold;
   white-space: pre-wrap;
   word-wrap: break-word;
   outline: none;
   cursor: text;
   line-height: 22px;
}

[contenteditable]:empty:before {
	content: attr(data-text);;
	color: grey;
}

.action-element {
    cursor: pointer;
}

.action-img {
    width: 22px;
}

.btn-done {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-done-div :hover {
    background-color: grey;
    color: white;
}