
  <mat-card fxFlex="600px" fxFlex.xs="100%" fxFlexAlign="center">
    <mat-card-header fxLayout="row">

      <div fxFlex="530px" fxFlex.xs="100%" contenteditable="true" role="textbox" data-text="Title" class="title"></div>

    </mat-card-header>

    <mat-card-header fxLayout="row" style="margin-top: 7px;">
      <div fxFlex="530px" fxFlex.xs="100%" contenteditable="true" role="textbox" data-text="Take a note..." class="title" style="font-weight: normal;"></div>
    </mat-card-header>

    <mat-card-actions>

    </mat-card-actions>
  </mat-card>


<!-- <div class="container" fxLayout="row">

    <div fxFlex="100%" contenteditable="true" role="textbox" data-text="Title" class="title"></div>

    <div fxFlex="100%" contenteditable="true" role="textbox" data-text="Take a note..." class="title" style="font-weight: normal;"></div>

</div> -->