.toolbar-color{
    background-color: #fb0;
}

.example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

.side-container {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: #e8e8e8;
  }

  ul {
    list-style-type: none;
    padding-left: 0px;
  }

  .sidebar-item{
    cursor: pointer;
    padding: 15px;
    border-radius: 2px;
  }

  .sidebar-item:hover {
    background-color: rgba(0,0,0,0.12);
  }

  .opaque {
    opacity: .54;
  }