<ng-container>

  <mat-toolbar class="toolbar-color">
    <span>
      <b (click)="sidenav.toggle()">Fundoo</b> Keep
    </span>
  </mat-toolbar>

  <mat-sidenav-container class="side-container">

    <mat-sidenav mode="side" #sidenav closed style="background-color: #e8e8e8; width: 280px;">

      <ul>
        <li>
            <div class="side-element">
              <img width="24px" src="assets/keep-grey.png">
            <span style="padding-left: 32px;">Notes</span>
            </div>
        </li>
      </ul>
      
    </mat-sidenav>

    <mat-sidenav-content>
      <app-create-note fxLayoutAlign="center" style="margin-top: 20px;"></app-create-note>
      <!-- <app-note fxLayput="row" fxLayoutWrap="wrap" fxLayoutGap="10px" style="margin-top: 20px;"></app-note> -->
      <app-note></app-note>

    </mat-sidenav-content>

  </mat-sidenav-container>

</ng-container>