.toolbar-color{
    background-color: #fb0;
}

.example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

.side-container {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: #e8e8e8;
  }

  .side-element {
    cursor: pointer;
  }

  .side-element :hover {
    background: rgba(0,0,0,0.12);
  }

  ul {
    list-style-type: none;
  }